---
import Section from '@/components/Section.astro'

const { cv, title } = Astro.props
const summary = cv?.basics?.summary ?? ''

---

<Section title={title}>
    <p>
        {summary}
    </p>
</Section>
