---
import Section from '@/components/Section.astro'

const { cv, title } = Astro.props
const summary = cv?.basics?.summary ?? ''

---

<Section title={title}>
    <p>
        {summary}
    </p>
</Section>

<style>
    p {
        border: 3px outset var(--border-about);
        border-radius: 4px;
        padding: 8px;
    }
</style>
